*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height:100vh;
}

.header, .weaponContainer, .score, .divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    background-color: rgb(151, 151, 151);
    width: 500px;
    height: 1px;
    margin: 10px auto;
}

.point {
    height: 42px;
    width: auto;
}

.weapon {
    height: 200px;
}

.score{
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
  
}

.footer {
    background-color: rgb(21, 21, 21);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    height: 32px;
    color: rgb(124, 124, 124);
    font-weight: normal;
}