*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

body {
    background-image: url("images/brick_background.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height:100vh;
    align-items: center;
}

.loadingContainer {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}

.playButton {
    border: none;
    width: 100px;
    height: 48px;
    font-size: 32px;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
}

.playButton:hover {
    color: #cf1db4;
}

.muteButtonContainer {
    width: 100vw;
    display: flex;
}

#muteButton {
    all:unset;
    height: 28px;
    width: 28px;
    margin-left: auto;
    margin-right: 60px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity:50%;
}

#muteButton.soundOn {
    background-image: url('images/sound_on.png');
}

#muteButton.soundOff {
    background-image: url('images/sound_off.png');
}

.header, .weaponContainer, .score, .divider, .playerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.divider {
    background-color: rgb(151, 151, 151);
    width: 50vw;
    height: 1px;
    margin: 10px auto;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  hsl(0, 100%, 0%) 0%, #a9a9a9 25%, #a9a9a9 75%, hsl(0, 100%, 0%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsl(0, 100%, 0%)), color-stop(25%,#a9a9a9), color-stop(75%,#a9a9a9), color-stop(100%,hsl(0, 100%, 0%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  hsl(0, 100%, 0%) 0%,#a9a9a9 25%,#a9a9a9 75%,hsl(0, 100%, 0%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  hsl(0, 100%, 0%) 0%,#a9a9a9 25%,#a9a9a9 75%,hsl(0, 100%, 0%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  hsl(0, 100%, 0%) 0%,#a9a9a9 25%,#a9a9a9 75%,hsl(0, 100%, 0%) 100%); /* IE10+ */
    background: linear-gradient(left,  hsl(0, 100%, 0%) 0%,#a9a9a9 25%,#a9a9a9 75%,hsl(0, 100%, 0%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl(0, 100%, 0%)', endColorstr='hsl(0, 100%, 0%)',GradientType=1 ); /* IE6-9 */
}

.point {
    height: 42px;
    width: auto;
}

.weaponImage {
    height: 200px;
}

.score{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    height: 32px;
    color: rgb(124, 124, 124);
    font-weight: normal;
}

.weaponButton {
    all:unset;
    cursor: pointer;
    transition-property: background-image, translate;
    transition-duration: 0.2s; 
}

.rock {
    background-image: url('images/rock_on.png');
}

.paper {
    background-image: url('images/paper_on.png');
}

.scissors {
    background-image: url('images/scissors_on.png');
}

.rock, .paper, .scissors {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.weaponImage {
    transition: translate 0.1s;
}

.hoverState {
    translate: 0 -10px;
}

.selected {
    translate: 0 -40px;
    cursor: default;
}

.deselected {
    translate: 0 20px;
    cursor: default;
}

.off {
    cursor: default;
}

.off.rock {
    background-image: url('images/rock_off.png');
}

.off.paper {
    background-image: url('images/paper_off.png');
}

.off.scissors {
    background-image: url('images/scissors_off.png');
}

.rockLogo, .paperLogo, .scissorsLogo {
    background-size:contain;
    background-repeat: no-repeat;
    height: 128px;
    width: 356px;
    transition-property: background-image;
}

.rockLogo {
    background-image: url('images/logo_rock.png');
    background-position: right;
}

.paperLogo {
    background-image: url('images/logo_paper.png');
    background-position: center;
}

.scissorsLogo {
    background-image: url('images/logo_scissors.png');
    background-position: left;
}

.off.rockLogo {
    background-image: url('images/logo_rock_off.png');
}

.off.paperLogo {
    background-image: url('images/logo_paper_off.png');
}

.off.scissorsLogo {
    background-image: url('images/logo_scissors_off.png');
}

.slowTransition {
    transition-duration: 2s; 
}

a {
    text-decoration: none;
    color: rgb(124, 124, 124);
    font-weight: bold;
}

.weaponButton.computer {
    cursor: default;
}

.activePoint {
    background-image: url('images/point_on.png');
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 790px) {
    html, body {
        margin:0px;
        padding: 0px;;
    }
    .header {
        flex-direction: column;
        margin: 0;
    }
    .scissorsLogo, .paperLogo, .rockLogo {
        height: 48px;
        background-position: center;
        margin: 0px;
    }

    .scissorsLogo, .paperLogo {
        background-size: 70%;
    }

    .rockLogo {
        background-size: 40%;
    }
    .weaponButton {
        width: 128px;
        height: 170px;
        margin: 0px;
        background-size: 130%;
        background-position: top;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    .score.computer, .score.player {
        margin:0px;
    }
    .divider {
        margin:1rem 0;
        width: 100vw;
    }
    #muteButton{
        margin-right:1.5rem;
        margin-top: auto;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    .muteButtonContainer {
        margin-top: auto;
    }
    body {
        background-size: 350%;
        background-repeat: no-repeat;
        height: 90vh;
    }
    .selected {
        translate: 0 -15px;
        cursor: default;
    }
    .point {
        height: 32px;
        width: auto;
    }
  }

