*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("/images/brick_background.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height:100vh;
}

.header, .weaponContainer, .score, .divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    background-color: rgb(151, 151, 151);
    width: 500px;
    height: 1px;
    margin: 10px auto;
}

.point {
    height: 42px;
    width: auto;
}

.weaponImage {
    height: 200px;
}

.score{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    height: 32px;
    color: rgb(124, 124, 124);
    font-weight: normal;
}

.weaponButton {
    all:unset;
    cursor: pointer;
    transition-property: background-image, translate;
    transition-duration: 0.3s; 
}

.rock {
    background-image: url('/images/rock_on.png');
}
.paper {
    background-image: url('/images/paper_on.png');
}
.scissors {
    background-image: url('/images/scissors_on.png');
}
.rock, .paper, .scissors {
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
}

.weaponImage {
    transition: translate 0.2s;
}

.hoverState {
    translate: 0 -10px;
}

.selected {
    translate: 0 -40px;
}

.deselected {
    translate: 0 20px;
}

.deselected.rock {
    background-image: url('/images/rock_off.png');
}

.deselected.paper {
    background-image: url('/images/paper_off.png');
}

.deselected.scissors {
    background-image: url('/images/scissors_off.png');
}

